<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Front Controller 관련 클래스에서 사용할 수 있는 Spring Bean을
	등록하기 위한 Bean Configuration File -->	
	
	<!-- Command Controller 클래스를 Spring Bean으로 등록 -->
	<bean class="site.itwill09.springMVC.ListController" id="listController"/>
	<bean class="site.itwill09.springMVC.ViewController" id="viewController"/>
	
	<!-- Spring Framework에서 제공하는 SimpleUrlHandlerMapping 클래스를 Spring Bean으로 등록 -->
	<!-- SimpleUrlHandlerMapping : Front Controller에게 클라이언트 요청을 
	처리할 수 있는 Command Controller 클래스의 Spring Bean을 제공하는 클래스 -->
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<!-- mappings 필드(Map)에 클라이언트 요청정보와 Command Controller 정보를 인젝션 -->
		<property name="mappings">
			<props>
				<prop key="/list.do">listController</prop>
				<prop key="/view.do">viewController</prop>
			</props>
		</property>
	</bean>
</beans>
