<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.itwill10.mapper.RestMemberMapper">
	<select id="selectRestMemberListXML" resultType="RestMemberXML">
		select * from rest_member order by id
	</select>
	
	<select id="selectRestMemberListJSON" resultType="RestMemberJSON">
		select * from rest_member order by id
	</select>
</mapper>